<!-- got the classes from bootstrap documentation -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/userpage">
                <img src="/images/header2.png" width="60" height="60" />
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li id="home"><a href="/">HOME</a></li>
                <li id="userpage"><a href="/userpage">Userpage</a></li>
                <li id="register"><a href="/register">Register</a></li>
            </ul>
        </div>
    </div>
</nav>
