<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
    <style>
      .fitapp-section {
        margin-top: 3rem;
        margin-bottom: 3rem;
      }

      .card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }

      .card {
        margin: 1rem;
      }

      .card-img {
        width: 75%;
        height: 200px; /* Adjust this value to set the desired height */
        object-fit: cover; /* This property ensures the images maintain their aspect ratio while covering the specified dimensions */
      }

    </style>
  </head>
  <body>
    <% include partials/menu %>
    <div class="container-fluid">
      <h1>Welcome to Fit Chat App</h1>
      <br />
      <blockquote class="blockquote">
        <p> You are on landing page, <b><%= userName %> </b>. Please Login or click below to go to Fitbot Chat Page. </p>
      </blockquote>

      <!-- Register or Go To My Page Button -->
      <div class="container-fluid d-flex justify-content-center align-items-center fitapp-section">
        <% if (userName !== 'Guest') { %>
          <a href="/userpage" class="btn btn-primary mt-3">Go To My Page</a>
        <% } else { %>
          <a href="/register" class="btn btn-primary mt-3">Register to View My Page</a>
        <% } %>
      </div>

    </div>

    <!-- About FitApp Section -->
    <div class="container-fluid fitapp-section">
      <h2>About Fit Chat App</h2>
      <p>
        Fit Chat App has been finetuned on 8000 unique food nutrition data such as 
        calories, protein, cholestrol etc so it can help users answer nutrition related
        queries in seconds. The app uses a finetuned Alpaca 7b model hosted locally
        and trained on USDA food data.
      </p>
    </div>

   


  </body>
  <% include partials/script %>
</html>