<!DOCTYPE html>

<html lang="en">

    <head>


        <% include partials/head %> 

    
        <style type="text/css">

            table, td, th {  
            border: 1px solid #ddd;
            text-align: left;
            }
            
            table {
                border-collapse: collapse;
                width: 50%;
            
            }
            .table-data{
                position: relative;
                left:50px;
                top:50px;
            }
            th, td {
                padding: 15px;
            }
        </style>

    </head>



    <body>


        <% include partials/menu %>


        <div class="container-fluid">
            
            <h1> Welcome to your MyPage <b><%= userName %></b>. </h1>

            <blockquote class="blockquote">
                <p>Update your current measurements, or view history below. Depending on it recommendations will change.</p>
            </blockquote>

            <br />

        </div>


        <!-- Add Measurements and Show Measurements -->
        <div class="container-fluid">
            <a href="/measurements" class="btn btn-primary">Add New Health Measurements</a>


            <% include measurement_history {measurements: measurements} %>
            <br />
            <br />
        </div>







        <!-- workout and nutrition contents -->

        <div class="container-fluid">

            <% include explore_content {workouts: workouts, nutritions: nutritions} %>


        </div>


        <div class="container-fluid">


            <!-- Goal Form -->
            <a href="/suggestions" class="btn btn-success">Add Dev Suggestions</a>

            <br />
            <br />
            <br />

             <!-- logout button -->
             <a href="/logout" class="btn btn-danger">Logout</a>

        </div>


    </body>


    <% include partials/script %>


    </html>